<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учебное Хранилище</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="title">Учебное Хранилище</div>
        <button class="auth-btn">Вход/Регистрация</button>
    </header>
    <main>
        <h2>Выберите Курс</h2>
        <div class="course-box"></div>
        <div class="course-box"></div>
    </main>
</body>
</html>
