<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курс "Основы программирования на языке Python"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}" class="title">Учебное Хранилище</a>

        <div class="auth-container">
            <button class="new-btn" data-tooltip="Осталось просмотров ответов">
                <span id="answer-count">{{ solutions_count }}</span>
                <img src="{{ url_for('static', filename='data/img.png') }}" alt="Icon" class="btn-icon" width="25" height="25">
            </button>
            {% if user %}
                <button class="user-btn" onclick="toggleMenu()">{{ user }}</button>
                <div class="user-menu" id="userMenu">
                    <a href="{{ url_for('logout') }}" class="logout-btn">↩ Выйти</a>
                </div>
            {% else %}
                <button class="auth-btn" onclick="openLogin()">Вход/Регистрация</button>
            {% endif %}
        </div>
    </header>

    <div id="overlay" class="overlay" onclick="closeAll()"></div>

    <div id="loginModal" class="modal">
        <button class="close-btn" onclick="closeAll()">✖</button>
        <h2>Вход в аккаунт</h2>
        <hr>

        <div class="date-container">
            <input type="email" id="login-email" placeholder="Введите адрес электронной почты">
        </div>

        <div class="password-container">
            <input type="password" id="login-password" placeholder="Введите пароль">
        </div>

        <a href="#" class="forgot-password">Забыли пароль?</a>

        <div class="modal-footer">
            <a href="#" class="register-link" onclick="openRegister()">Зарегистрироваться</a>
            <button id="login-btn" class="modal-btn">Войти</button>
        </div>
    </div>

    <div id="registerModal" class="modal">
        <button class="close-btn" onclick="closeAll()">✖</button>
        <h2>Регистрация</h2>
        <hr>
        <div class="date-container">
            <input type="text" id="name" placeholder="Введите имя">
        </div>
        <div class="date-container">
            <input type="text" id="surname" placeholder="Введите Фамилию">
        </div>
        <div class="date-container">
            <input type="email" id="email" placeholder="Введите электронную почту" autocomplete="email">
        </div>
        <div class="date-container">
            <input type="text" id="birthdate" placeholder="дд.мм.гг">
        </div>
        <div class="password-container">
            <input type="password" id="password" placeholder="Введите пароль">
        </div>
        <div class="password-container">
            <input type="password" id="repeatPassword" placeholder="Введите повторный пароль">
        </div>
        <div class="modal-footer">
            <a href="#" class="register-link" onclick="openLogin()">Вернуться к входу</a>
            <button id="register-btn" class="modal-btn">Зарегистрироваться</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
